.add-sensor {
  max-width: 35%;
  min-width: 35%;
  height: 100%;
}

.add-sensor h2 {
  margin-bottom: 1em;
}

.add-sensor form {
  display: flex;
  flex-direction: column;
  border: .1em dashed #fff;
  padding: 1em;
}

.add-sensor label {
  margin: .5em 0;
  font-size: 1em;
}

.add-sensor input {
  font-size: .9em;
  border-radius: .2em;
  padding: .4em;
}

.header-card {
  display: flex;
  justify-content: space-between;
}

.add-icon {
  height: 20px;
  width: 20px;
}
